@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(assets/wallpaper.jpg) center center/ cover no-repeat;
}

.contenido-centrado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor{
    width: 80vw;
    max-width: 600px;
    min-height: 500px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 15px;
}

.contenedor-interno{
    width: 80%;

}

#titulo{
    width: 100%;
    text-align: center;
    font-family: 'Courgette', cursive;
    color: antiquewhite;
}

#cita{
    font-size: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#autor{
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Courgette', cursive;
}

#boton-cambiar-cita{
    height: 50px;
    width: 180px;
    font-size: 20px;
}